# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Oo]ut/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.csproj.user

# NuGet
packages/
*.nupkg
project.lock.json
project.fragment.lock.json
artifacts/

# Rider
.idea/

# VS Code
.vscode/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store
